<nav>
    <div>
        <h2>MENU</h2>
        <a href="#">
            <%= fa_icon "camera-retro"%>
            <p>Discover</p>
        </a>
        <a href="#">
            <%= fa_icon "camera-retro"%>
            <p>Discover</p>
        </a>
        <a href="#">
            <%= fa_icon "camera-retro"%>
            <p>Discover</p>
        </a>
        <a href="#">
            <%= fa_icon "camera-retro"%>
            <p>Discover</p>
        </a>
        <a href="#">
            <%= fa_icon "camera-retro"%>
            <p>Discover</p>
        </a>
    </div>
    <div>
        <h2>CATEGORY</h2>
        <a href="#">
            <%= fa_icon "camera-retro"%>
            <p>Discover</p>
        </a>
        <a href="#">
            <%= fa_icon "camera-retro"%>
            <p>Discover</p>
        </a>
        <a href="#">
            <%= fa_icon "camera-retro"%>
            <p>Discover</p>
        </a>
        <a href="#">
            <%= fa_icon "camera-retro"%>
            <p>Discover</p>
        </a>
        
    </div>
    <div></div>
</nav>