

<div class="videos">
    <h2 class="video-title">Videos</h2>
    <% @response.each do |video|%>
        <%= link_to "videos/#{video["_id"]},#{video["purchase_price"].nil? ? 'free' : 'premium'}", {:controller => 'videos', :action => 'show', :param => {"id": video["_id"], "premium?": video["purchase_price"]} } do %>
            <div class="card">
                <div class="video-thumbnail">
                    <%= image_tag("#{video["thumbnails"][0]["url"]}", :alt => "img") %>
                    <p><%= Time.at(video["precise_duration"]).utc.strftime "%M:%S" %></p>
                </div>
                <div class="video-info">
                    <h2><%= video["title"] %></h2>
                    <p><%= video["created_at"] %></p>
                    <div class="channel">
                        <div class="circle"></div>
                        <%unless video["purchase_price"].nil? %>
                            <div class="tag">
                                premium
                            </div>
                        <% end %>
                        <p><%= video["categories"].present? ? video["categories"][0]["value"][0] : 'John Doe' %></p>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>

