<!DOCTYPE html>
<html>
  <head>
    <title>ZypeMembers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="app">
      <%= render 'static_pages/partials/search_bar'%>
      <div class="feed">
        <%= render 'static_pages/partials/side_bar'%>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
